<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Marathon Sports - Point of Sales System</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/stylesheet.css')}}">
    </head>
        <body>
            <header>
                <h4>
                    <b id="Title">New Sales Receipt</b>
                    <br>
                    <b id="Date"> <span id="time"> </span> </b>
                </h4>
            </header>
            <nav>
                
            </nav>
            <div class="container">
                <b> You don't have the authority, find your manager</b>
                <form class="Login" method="post" action="/Temp_Auth">
                    <p style="height: 50px;"></p>
                    <div class="form-group">
                        <label for="name">Staff ID</label>
                        <p></p>
                        <input type="text" id="Staff_ID" name="Staff_ID" class="from-control" required><br>
                    </div>
                    <p style="height: 20px;"></p>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <p></p>
                        <input type="password" id="password" name="password" class="from-control" required><br>
                    </div>
                    <p style="height: 20px;"></p>
                    <div class="form-group"></div>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <br>
                        <label id="signIn-message">{{SignInM}}</label>
                    </div>
                </form>
            </div>
            <div class="Function_box">
                    <form action="/Inventory">
                        <button id="Function">
                        inventory
                        </button>
                    </form>
                    <p style="height: 60px;"></p>
                    <form action="/Membership">
                        <button id="Function">
                        membership
                        </button>
                    </form>
                    <p style="height: 60px;"></p>
                    <form action="/Booking">
                        <button id="Function">
                        booking
                        </button>
                    </form>
                    <p style="height: 60px;"></p>
                    <form action="/Total_Price">
                        <button id="Function">
                        Go Back
                        </button>
                    </form>
                    <p style="height: 60px;"></p>
                    <form action="/Logout">
                        <button id="Function">
                        Log-Out
                        </button>
                    </form>
            </div>
            <p style="height: 150px;"></p>
            <footer>

            </footer>
        </body>

        <script>
            
            function refreshTime() {
            const timeDisplay = document.getElementById("time");
            const dateString = new Date().toLocaleString();
            const formattedString = dateString.replace(", ", " - ");
            timeDisplay.textContent = formattedString;
            }
            setInterval(refreshTime, 1000);
            
            function Cart_Table(){
                const Cart_List = document.getElementById("Item_List");
            }
        
            

        </script>

</html>